@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Foldit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav h2 {
    color: #fff;
}
nav h2 span {
    color: aqua;
}

/* nav-animation code start */

nav {
    background: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 60px ;
    overflow: hidden;
    border-bottom: 4px solid #04191C;

    width: 100%;
    height: 60px;
    
    position: sticky;
    top: 0;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 5px 12px;
}


nav ul li .a
{
    text-decoration: none;
    color: #00e1ff;
    padding: 7px 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    overflow: hidden;
    z-index: 1;
    transition: color 1s, border-radius .5s , box-shadow .4s;
}

nav ul li .a:hover
{
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 
            0 0 10px #00ffbf,
            0 0 80px #00f7ff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

nav ul li .a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 100%;
    background-color: #00fff2;
    transform: skewX(35deg);

    z-index: -1;
    transition: 1s;
}

nav ul li .a:hover::before
{
    width: 100%;
}

nav ul li:first-child a {
    filter: hue-rotate(0deg);
}
nav ul li:nth-child(2) a {
    filter: hue-rotate(55deg);
}
nav ul li:nth-child(3) a {
    filter: hue-rotate(110deg);
} 
nav ul li:nth-child(4) a {
    filter: hue-rotate(225deg);
}
nav ul li:last-child a {
    filter: hue-rotate(320deg);
} 

 nav ul li a span {
    position: absolute;
    display: block;
}
nav ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent , #00ffe5);
    animation: animate1 1s infinite;
} 
@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

nav ul li a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent , #00ffe5);
    animation: animate2 1s infinite;
    animation-delay: .25s;
} 
@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

nav ul li a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent , #00ffe5);
    animation: animate3 1s infinite;
    animation-delay: .5s;
} 
 @keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

nav ul li a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent , #00ffe5);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}
@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

/* nav-animation code end  */

/* responsive navbar code start  */

#click {
    display: none;
}
.menu_button {
    color: #fff;
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 940px){
    nav {
        position: fixed;
    }
    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        
        background: linear-gradient(135deg ,  #1a1a1ad5 , #43d8dd8e);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);

        transition: all 0.5s ease;
    }

    nav ul li {
        margin: 20px;
    }

    nav ul li .a:hover {
        background: none;
        box-shadow: none;
    }
    .menu_button {
        display: block;
    }

    #click:checked ~ ul {
        left: 0%;
    }
    #click:checked ~ .menu_button i::before {
        content: "\f00d";
    }

    nav ul li:nth-child(1) .a{
        color: #fff;
    }
}

/* header background code start here  */

.header_section {
    height: 100vh;
    background-image: url(image/bg-image2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 
.container {
    width: 100%;
    height: 100vh;
    background-image:repeating-linear-gradient(to top right,#000000f3 ,#000);
}
.container .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.container .wrapper span {
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    position: absolute;
}

.wrapper span:nth-child(1){
    border: #00d9ff 2px solid;
    top: 40%;
    left: 90%;
    animation: ani 5s linear infinite;
}
.wrapper span:nth-child(2){
    border: #ff0000 2px solid;
    top: 10%;
    left: 60%;
    animation: ani 7s linear infinite;
}
.wrapper span:nth-child(3){
    border: #0400ff 2px solid;
    top: 60%;
    left: 70%;
    animation: ani 9s linear infinite;
}
.wrapper span:nth-child(4){
    border: #00ff40 2px solid;
    top: 30%;
    left: 56%;
    animation: ani 11s linear infinite;
}
.wrapper span:nth-child(5){
    border: #fbff00 2px solid;
    top: 60%;
    left: 40%;
    animation: ani 7s linear infinite;
}
.wrapper span:nth-child(6){
    border: #ff00c8 2px solid;
    top: 80%;
    left: 30%;
    animation: ani 13s linear infinite;
}
.wrapper span:nth-child(7){
    border: #3cff00 2px solid;
    top: 45%;
    left: 10%;
    animation: ani 12s linear infinite;
}
.wrapper span:nth-child(8){
    border: #8400ff 2px solid;
    top: 20%;
    left: 85%;
    animation: ani 8s linear infinite;
}
.wrapper span:nth-child(9){
    border: #ff9900 2px solid;
    top: 75%;
    left: 65%;
    animation: ani 9s linear infinite;
}
.wrapper span:nth-child(10){
    border: #b9b9b9 2px solid;
    top: 39%;
    left: 44%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(11){
    border: #130080 2px solid;
    top: 9%;
    right: 14%;
    animation: ani 6s linear infinite;
}
.wrapper span:nth-child(12){
    border: #ff0000 2px solid;
    bottom: 3%;
    left: 4%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(13){
    border: #66ff00 2px solid;
    top: 3%;
    left: 4%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(14){
    border: #00ffdd 2px solid;
    top: 20%;
    left: 20%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(15){
    border: #ff0037be 2px solid;
    top: 20%;
    left: 34%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(16){
    border: #14a76a 2px solid;
    top: 5%;
    left: 19%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(17){
    border: #4300fa 2px solid;
    bottom: 10%;
    right: 50%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(18){
    border: #0bc5e6 2px solid;
    left: 44%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(19){
    border: #ffffff 2px solid;
    top: 39%;
    animation: ani 10s linear infinite;
}
.wrapper span:nth-child(20){
    border: #7d0ac0 2px solid;
    right: 39%;
    animation: ani 10s linear infinite;
}

@keyframes ani {
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.2) translate(-50%) rotate(360deg);
        opacity: 0;
    }
}  */

/* ms1_our services code start here  */

.frist_section {
    background-color: #04191C;
    padding: 0 0 80px;
}
.ms1_title {
    padding: 30px 0;
    color: #fff;
    font-size: 29px;
    text-align: center;
}

.ms1_container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.single_box {
    border: 4px solid rgb(68, 162, 165) ;
    padding: 20px 10px 5px 10px;
    background-color: #fff;
    
    transition: .5s;
}
.single_box:hover{
    box-shadow: 5px 5px 30px #10cccc;
}
.single_box i {
    font-size: 30px;
}
.single_box a {
    opacity: 0;
    color: #4589c9;

    transition: .5s;
}
.single_box:hover a {
    opacity: 1;
    color: #0084ff;
}

/* second section code start start  */

.second_section {
    background-color: #091b41;
    padding: 50px 0 80px 0;
}
.ms2_tilte {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 0 0 40px;
    text-decoration: underline;
}

.ms2_container {
    width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
}

.smart_img {
    width: 475px;
}
.smart_img img {
    width: 100%;
}

.smart_text {
    width: 475px;
    color: #fff;
    text-align: justify;
}
.smart_text h2 {
    margin: 20px 0 25px;
}

.smart_text a {
    width: 200px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 30px ;
    background-color: #089163;
    display: block;
    margin-top: 60px;
    transition: .5s;
}
.smart_text a:hover{
    color: #000000;
    text-transform:uppercase ;
    text-decoration: underline;
    letter-spacing: 1px;
}

/* About section code start  */

.section_third {
    background-image: url(image/bg-image3.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}
.about_parent {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 200px;
}

.about_text h3 {
    margin-bottom: 20px ;
    font-size: 22px;
}
.about_text ul {
    margin: 20px 0 0 19px;
}
.about_text a {
    text-decoration: none;
    flex: 18px;
    background-color: yellow;
    padding: 7px 26px ;
    display: inline-block;
    margin: 20px 0;
    border-radius: 5px ;
    color: #000;
}
 
.about_box_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.about_box_parent div {
    background-color: #EAECEE;
    color: #000;
    padding: 20px 30px;
    border: 4px lightgreen solid;
    text-align: center;
    border-radius: 5px;
}
.about_box_parent div h4 {
    padding: 10px 0 20px 0;
}
.about_box_parent div p {
    text-align:initial;
}

/* Advice Section start here  */

.fourth_section {
    background-color: #04191C;
    padding: 100px 0;
    color: #fff;
}
.advice_parent {
    display: flex;
    gap: 50px;
    margin: 0 200px ;
}

.advice_img {
    width: 300px;
}
.advice_img img {
    width: 100%;
}
.single_advice p {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 0 ;
}
.single_advice h3 {
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}
.single_advice h4 {
    font-size: 25px;
    margin-top: 20px;
}
.single_advice a {
    text-decoration: none;
    color: #000;
    background-color: #fff9df;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 18px;
    border: 1px #000 solid;
    display: inline-block;
    margin:20px 5px 0 0;
    font-weight: bold;

    transition: .5s;
}
.single_advice a:hover {
    background-color: #ffeb94;
}
.single_advice i {
    text-align: center;

}

/* advice section code end  */   

/* contact section code start  */   

.fifth_section {
    background-image: linear-gradient(#3fb60f1e , #0c699e33), url(image/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.fifth_section form {
    background-color: #0b381e;
    width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border: 6px solid #44d397;
    border-radius: 10px;
}
form h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    letter-spacing: .1em;
}
form p {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    letter-spacing: .1em;
}
.input_form {
    display: block;
    width: 100%;
    height: 40px;
    margin: 50px 0;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 3px solid #00f7ff;
    font-size: 19px;
}
.input_form::placeholder {
    color: #00e1ff;
}

.submit_button {
    background: none;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 40px ;
    font-size: 20px;
    border-radius: 5px;
    border: none;

    outline-style: ridge;
    cursor: pointer;
    transition: .3s;
}
.submit_button:hover {
    background-color: #177080;
}

/* contact section code end  */ 

/* MATCH PROGECT CODE START  */

.sixth_section {
    background: #113a68;
    padding: 100px 0;
}

.project_ditails {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin: 0 160px;
    color: #fff;
}

.single_project h2 {
    line-height: 1.5;
    letter-spacing: 1px;
}

.box_project {
    border: 4px solid #26528f;
    padding: 15px;
    width: 300px;
}
.box_project:nth-child(2) {
    border: 4px solid #fff;
}
.box_project i {
    font-size: 40px;
    padding: 0px 20px 10px 20px;
}
.box_project h5 {
    margin: 0 0 10px;
}
.box_project p {
    color: #6d809c;
    font-size: 14px;
}

/* take care section start here  */

.seventh_section {
    padding: 100px 0;
}
.care_parent {
    display: flex;
    margin: 0 auto;
    gap: 40px;
    width: 70%;
}
.care_text p{
    margin: 20px 0;
}
.care_text ul li {
    margin-left: 20px;
}

.care_img {
    width: 100%;
    border: 2px solid #d09eff;
}
.care_img img {
    width: 100%;
}
/* take care section end here  */

/* footer section code :start here  */

footer {
    background-color: #113a68;
    padding: 100px 0 50px;
}

.footer_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer_container div {
    width: 100%;
    color: #fff;
}
.footer_container h4 {
    margin-bottom: 20px;
}
.footer_container span {
    color: #ffee00;
    font-weight: 300;
}
.footer_div a {
    display: block;
}
.footer_div:nth-child(2) a {
    margin: 15px 0;
}
.footer_container a {
    color: #fff;
    text-decoration: none;
}
.footer_icon i {
    background-color: #419aff;
    padding: 7px 13px;
    border-radius: 4px;
}

.footer_p {
text-align: center;
letter-spacing: 1px;
color: #808088;
padding-top: 30px;
}
/* footer section code :end here  */

/* frist section of main tag midea query start  */

@media only screen and ( max-width: 688px) {
    /* survices code start here  */
    .ms1_container {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-gap: 10px;
        width: 100%;
    }
    /* survices code start end  */
    
    /* smart area code start  */
    .ms2_container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        width: 100%;
    }
    .smart_img {
        width: 100%;
    }
    .smart_text { 
        width: 100%;
        padding: 0 20px;
    }
    /* smart area code start end */

    /* about section code start  */
    .about_parent {
        display: block;
        margin: 0 30px;
    }

    .about_box_parent {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
    }
    /* about section code start end  */

     /* advice section code start */ 
    .advice_parent {
        display: block;
        margin: 0 20px;
    }
    .single_advice h3 {
        margin-top: 50px;
    }
    /* advice section code end  */   

    /* contact section code start  */   
    .fifth_section form {
        background-color: #0b381e;
        width: 90%;
        padding: 20px 25px;
    }
    form p {
        margin: 10px 0;
    }
    .input_form {
        margin: 20px 0;
    }
    /* contact section code end  */  

    /* match project section code start  */ 
    
    .project_ditails {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        margin: 0 20px;
    }
    .box_project {
        padding: 15px;
        width: 100%;
    }    
    /* match project section code end  */ 

    /* take care  section code start  */ 
    .seventh_section {
        padding: 60px 0;
    }
    .care_parent {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .care_text {
        margin-bottom: 20px;
    }
    /* take care section code end  */ 

    /* footer section code start  */ 
    footer {
        padding: 50px 0 30px;
    }
    .footer_container {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    .footer_container div {
        margin-bottom: 30px;
    }
    .footer_container h4 {
        margin-bottom: 5px;
    }
    .footer_div:nth-child(2) a {
        margin: 0;
    }
    /* footer section code end  */ 
}

@media only screen and (min-width: 669px) and ( max-width: 1099px) {

    /* survices code start here  */
    .ms1_container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
        width: 100%;
    }    
    /* survices code start end  */
    
    /* smart area code start  */
    .ms2_container {
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            width: 100%;
        }
    .smart_img {
        width: 100%;
    }
    .smart_text { 
        width: 100%;
        padding: 0 20px;
    }
    /* smart area code start end */
    
    /* about section code start  */
    .about_parent {
        display: block;
        margin: 0 30px;
    }

    .about_box_parent {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    /* about section code end  */   

    /* advice section code start */ 
    .advice_parent {
        display: block;
        margin: 0 20px;
    }
    .single_advice h3 {
        margin-top: 50px;
    }
      
    /* advice section code end  */   

    /* contact section code start  */   
    .fifth_section form {
        background-color: #0b381e;
        width: 70%;
        padding: 40px 50px;
    }
    form p {
        margin: 30px 0;
    }
    /* contact section code end  */ 

    /* match project section code start  */ 

    .project_ditails {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
        margin: 0 40px;
    }
    .box_project {
        padding: 15px;
        width: 100%;
    }    
    /* match project section code end  */ 

    /* take care  section code start  */ 
    .seventh_section {
        padding: 80px 0;
    }
    .care_parent {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .care_text {
        margin-bottom: 20px;
    }
    /* take care section code end  */ 

    /* footer section code start  */ 
    footer {
        padding: 50px 0 30px;
    }
    .footer_container {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    .footer_container div {
        margin-bottom: 30px;
    }
    .footer_container h4 {
        margin-bottom: 5px;
    }
    .footer_div:nth-child(2) a {
        margin: 0;
    }
    /* footer section code end  */ 
}

@media only screen and (min-width: 669px) and ( max-width: 1099px) {

    /* survices code start here  */
    .ms1_container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
        width: 100%;
    }    
    /* survices code start end  */
    
    /* smart area code start  */
    .ms2_container {
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            width: 100%;
        }
    .smart_img {
        width: 100%;
    }
    .smart_text { 
        width: 100%;
        padding: 0 20px;
    }
    /* smart area code start end */
    
    /* about section code start  */
    .about_parent {
        display: block;
        margin: 0 30px;
    }

    .about_box_parent {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    /* about section code end  */   

    /* advice section code start */ 
    .advice_parent {
        display: block;
        margin: 0 20px;
    }
    .single_advice h3 {
        margin-top: 50px;
    }
      
    /* advice section code end  */   

    /* contact section code start  */   
    .fifth_section form {
        background-color: #0b381e;
        width: 70%;
        padding: 40px 50px;
    }
    form p {
        margin: 30px 0;
    }
    /* contact section code end  */ 

    /* match project section code start  */ 

    .project_ditails {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
        margin: 0 40px;
    }
    .box_project {
        padding: 15px;
        width: 100%;
    }    
    /* match project section code end  */ 

    /* take care  section code start  */ 
    .seventh_section {
        padding: 80px 0;
    }
    .care_parent {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .care_text {
        margin-bottom: 20px;
    }
    /* take care section code end  */ 
/* footer section code start  */ 
footer {
    padding: 50px 0 30px;
}
.footer_container {
    width: 70%;
    margin: 0 auto;
    display: block;
}
.footer_container div {
    margin-bottom: 30px;
}
.footer_container h4 {
    margin-bottom: 5px;
}
.footer_div:nth-child(2) a {
    margin: 0;
}
/* footer section code end  */ 
}

@media only screen and (min-width: 669px) and ( max-width: 1099px) {

    /* survices code start here  */
    .ms1_container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
        width: 100%;
    }    
    /* survices code start end  */

    /* smart area code start  */
    .ms2_container {
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            width: 100%;
        }
    .smart_img {
        width: 100%;
    }
    .smart_text { 
        width: 100%;
        padding: 0 20px;
    }
    /* smart area code start end */

    /* about section code start  */
    .about_parent {
        display: block;
        margin: 0 30px;
    }

    .about_box_parent {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    /* about section code end  */   

    /* advice section code start */ 
    .advice_parent {
        display: block;
        margin: 0 20px;
    }
    .single_advice h3 {
        margin-top: 50px;
    }
    
    /* advice section code end  */   

    /* contact section code start  */   
    .fifth_section form {
        background-color: #0b381e;
        width: 70%;
        padding: 40px 50px;
    }
    form p {
        margin: 30px 0;
    }
    /* contact section code end  */ 

    /* match project section code start  */ 

    .project_ditails {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
        margin: 0 40px;
    }
    .box_project {
        padding: 15px;
        width: 100%;
    }    
    /* match project section code end  */ 

    /* take care  section code start  */ 
    .seventh_section {
        padding: 80px 0;
    }
    .care_parent {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .care_text {
        margin-bottom: 20px;
    }
    /* take care section code end  */ 

        /* footer section code start  */ 
        footer {
            padding: 50px 0 30px;
        }
        .footer_container {
            width: 70%;
            margin: 0 auto;
            display: flex;
        }
        .footer_container div {
            margin-bottom: 30px;
        }
        .footer_container h4 {
            margin-bottom: 20px;
        }
        .footer_div:nth-child(2) a {
            margin: 8px;
        }
        /* footer section code end  */ 
}